*{
    margin: 0;
    padding: 0;
}

.head{
    width: 100%;
    height: 815vh;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #fcfdff;
    display: flex;
}

.bluecross{
    width: 80px;
    height: 100px;
    padding-left: 100px;
}

.navlinks{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 450px;
    padding-top: 35px;
}

.navlinks ul{
    display: flex;
    gap: 45px;
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    color: black;
}
.butt1 button{
    padding: 10px 17px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #00C2FF, #355dc2);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 55px;
    margin-top: 25px;
}

.mid{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 100px;
    width: 450px;
    margin-top: 90px;
}
.mid span4{
    color: rgb(27, 131, 250);
    /* linear-gradient(to bottom, #0077ff, #0031AF); */
}
.empower{
    margin-top: 40px;
    width: 670px;
    font-size: 17px;
    font-weight: bold;
    line-height: normal;
}
.mid p span5{
    color: #00C2FF;
}
.mid p span6{
        color: #00C2FF;
}
.mid p span7{
    color: #00C2FF;
}
.butt2 button{
    padding: 10px 17px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #00C2FF, #355dc2);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 50px;
}
#tru{
margin-top: 10px;
font-size: small;
color: rgb(90, 89, 89);
}
.two{
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.black{
    margin-left: 170px;
}
.black img{
    width: 600px;
    height: 500px;
    position: absolute;
}
.border{
    border: solid #00C2FF 2px;
    height: 300px;
    margin-left: 100px;
    margin-right: 81px;
    border-radius: 25px;
    margin-top: 110px;
}
.eff{
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
}
form{
    text-align: center;
    display: flex;
}
form label{
       font-family: sans-serif;
       font-size: 15px;
       font-weight: bold;

}
form input{
    border:  white solid ;
    border-top: white solid;
    border-left:  white solid;
    border-right:  white solid;
    width: 270px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15px;
}
form input::placeholder{
    color: rgb(170, 163, 163);
    font-family: Arial;
    text-align: center;
    font-size: small;
}
form img{
    width: 40px;
    height: auto;
    position: absolute;
    margin-top: 28px;
    margin-left: 20px;
}
.phone{
    width: 35px;
    margin-top: 30px;
}
.form-group{
    display: flex;
    padding-left: 42px;
    gap: 10px;
}
.ent{
    margin-top: 40px;
}
.appointment-label {
    margin-left: 50px;
}
.butt3 button{
    padding: 10px 17px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #00C2FF, #355dc2);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 1040px;
}
.top{
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
}
.top span{
    color: #00C2FF;
}

.pa60{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #000000;
    opacity: 80%;
}

.set11{
    display: flex;
    padding-left: 30px;
}

.col11{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 100px;
}

.camera{
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
}

.he81{
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 30px;
    color: #0031AF;
}

.pa81{
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
    opacity: 70%;
}


.col12{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 100px;
}

.calender2{
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-top: 30px;
}

.he82{
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 30px;
    color: #0031AF;
}

.pa82{
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
    opacity: 70%;
}





.set12{
    display: flex;
    gap: 50px;
    padding-left: 150px;
}

.col13{
    border: solid #00C2FF 2px;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
}

.prescription{
    width: 70px;
    height: 70px;
    padding-left: 30px;
    padding-top: 30px;
}

.he83{
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 60px;
    padding-left: 30px;
    color: #0031AF;
} 

.p83{
    font-family: sans-serif;
    padding-left: 30px;
    font-weight: bold;
    opacity: 70%;
    padding-top: 10px;
}





.col14{
    border: solid #00C2FF 2px;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
}

.col15{
    border: solid #00C2FF 2px;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
}



/* head10 */
.another{
    border: solid 3px #00C2FF;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: 130px;
    width: 1100px;
    height: 700px;
}

.he100{
    text-align: center;
    padding-top: 150px;
    font-family: sans-serif;
    font-size: 19px;
}

span10{
    color: #00C2FF;
}

.rectangle{
    width: 300px;
    height: 300px;
    padding-top: 50px;
}

.lm2{
    width: 200px;
}


/* down2 */
.hea{
    padding-top: 800px;
}

.head1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20vh;
    color: #00C2FF;
    font-size: 21px;
}

.p30{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.p31{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

.set1{
    display: flex;
    margin-left: 50px;
}

.bod1{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.p50{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 350px;
    padding-left: 120px;
    padding-top: 50px;
    opacity: 70%;
}

.inside{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 120px;
    padding-top: 5px;
}

.bod2{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.set2{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

.bod3{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.bod4{
    border: solid #00C2FF 2px;
    width: 480px;
    height: 250px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.head3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 120px;
    color: #00C2FF;
    font-size: 17px;
}

span{
    color: #000000;
}

.p51{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 17px;
}


.border1{
    width: 80%;
    margin-left: 150px;
    margin-top: 100px;
    height: 65vh;
    background: linear-gradient(70deg, #00C2FF, #335bc0);
    border-radius: 20px;
}

.bh1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 480px;
    padding-top: 60px;
    font-size: 23px;
}

.p55{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 480px;
    padding-top: 30px;
    font-size: 18px;
}

.book1 button{
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    background: white;
    color: #00C2FF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 480px;
    margin-top: 20px;
}

.phone10{
    width: 25px;
    height: 25px;
    padding-left: 20px;
}


.border2{
    width: 80%;
    margin-left: 150px;
    margin-top: 100px;
    height: 65vh;
    background: linear-gradient(70deg, #00C2FF, #335bc0);
    border-radius: 20px;
}

.bh1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 480px;
    padding-top: 60px;
    font-size: 23px;
}

.p55{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 480px;
    padding-top: 30px;
    font-size: 18px;
}

.book2 button{
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    background: white;
    color: #00C2FF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 480px;
    margin-top: 20px;
}

.phone11{
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

.h55{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 90px;
    font-size: 18px;

}

span2{
    color: #00C2FF;
}

.p60{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
}

.for{
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-top: 50px;
}

.details-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 50px;
    gap: 80px;
}

.details-form input{
    padding: 27px 50px;
    border: 2px solid #00C2FF;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    text-align: center;
}

.details-form input::placeholder {
    color: black;
    opacity: 60%;
    font-weight: bold ;
}

/* footer */
.footer{
    width: 100%;
    height: 60vh;
    background-color: #E8EEFF;
    margin-top: 40vh;
}

.foot1{
    display: flex;
}

.logo1{
    width: 100px;
    height: 120px;
    padding-left: 50px;
    padding-top: 30px;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-left: 50px;
    font-weight: bold;
}

.all{
    display: flex;
}

.all li{
    list-style-type: none;
    line-height: 2;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    color: #00C2FF;
}

.list1{
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
}


.list2{
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

.list3{
    padding-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

.line1{
    width: 100%;
    height: 5px;
    padding-top: 40px;
}


.icons{
    padding-left: 50px;
    display: flex;
    padding-top: 20px;
}


.fb{
    width: 40px;
    height: 35px;
}

.ig{
    width: 32px;
    height: 32px;
    padding-left: 4px;
    padding-top: 3px;
}

.linkedin{
    width: 32px;
    height: 32px;
    padding-left: 20px;
    padding-top: 3px;
}

.yt{
    width: 32px;
    height: 40px;
    padding-left: 20px;
}