*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E8EEFF;
}

.h20{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 130px;
}

.p11{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}


.form5{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E8EEFF;
}

.container{
    background-color: #E8EEFF;
    padding: 30px 90px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(121, 114, 114);
    width: 300px;
    text-align: center;
    margin-bottom: 350px;
}

.container input[type="email"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0047FF;
    background-color: #E8EEFF;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 95%;
    margin-bottom: 30px;
}

.container button{
    background-color: #0047FF;
    color: white;
    padding: 8px 130px;
    border-radius: 10px;
    border-color: #E8EEFF;
    text-decoration: underline;
    margin-left: 6px;
}

.container button:hover {
    background-color: #3d6899;
}

.sign{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    color: #0047FF;
    padding-left: 20px;
}