*{
    margin: 0;
    padding: 0;
}

.p1{
    text-align: center;
    padding-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00C2FF;
    font-size: 20px;
}

.icons{
    display: flex;
    padding-left: 370px;
    padding-top: 20px;
    gap: 150px;
}

.email {
    width: 40px;
    height: 40px;
}

.phone{
    width: 40px;
    height: 40px;
}
.calender{
    width: 40px;
    height: 40px;
}